


<footer class="footer bg-dark text-white">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 d-md-flex justify-content-evenly text-white">
              <div id="footer1">
                  <div class="company-info">
                      <h4>Shuggs E Business</h4>
                      <p>Palarivattam vypin | south MG road 2<br>
                          Cochin, Kerala, 670721</p>
                  </div>
              </div>
              <div id="footer2">
                  <h2>Customer Service</h2>
                  <ul>
                      <li><a href="#" class="text-decoration-none">Contact Us</a></li>
                      <li><a href="#" class="text-decoration-none">Shipping Information</a></li>
                      <li><a href="#" class="text-decoration-none">Returns & Exchanges</a></li>
                      <li><a href="#" class="text-decoration-none">Size Guide</a></li>
                      <li><a href="#" class="text-decoration-none">FAQs</a></li>
                  </ul>
              </div>
              <div id="footer3">
                  <h2>Shop</h2>
                  <ul>
                    <li><a href="#" class="text-decoration-none">Men's Shoes</a></li>
                    <li><a href="#" class="text-decoration-none">Women's Shoes</a></li>
                    <li><a href="#" class="text-decoration-none">Kids' Shoes</a></li>
                    <li><a href="#" class="text-decoration-none">Brands</a></li>
                    <li><a href="#" class="text-decoration-none">Sale</a></li>
                  </ul>
              </div>
              <div id="footer4">
                  <h2>Connect With Us</h2>
                  <ul>
                    <li><a href="#" class="text-decoration-none">Facebook</a></li>
                    <li><a href="#" class="text-decoration-none">Twitter</a></li>
                    <li><a href="#" class="text-decoration-none">Instagram</a></li>
                    <li><a href="#" class="text-decoration-none">Pinterest</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>  
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>