body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    color: yellow;
  }
  
  .container{
    flex: 1; /* Allow the main content to grow and take up remaining space */
    margin-bottom: 200px;
  }
  
  footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
  }